services:
  app:
    build: .
    container_name: devops_app
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "5000:5000"
    networks:
      - app-network

  db:
    image: postgres:16-alpine
    container_name: devops_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespass
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
