#cloud-config
package_update: true
package_upgrade: true
packages:
  - docker.io
  - docker-compose
  - git

runcmd:
  - systemctl enable docker
  - systemctl start docker
  - cd /root
  - test -d /root/devops-crud/.git || git clone https://github.com/dhianapereira/devops-crud.git
  - cd /root/devops-crud
  - docker-compose up -d --build